body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  cursor: pointer;
}

.button {
  display: inline-block;
  border-radius: 10px;
  background: #4a69bd;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #000;
  cursor: pointer;
}

.wrapperDiv {
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px;
}

.transferForm {
  display: grid;
  grid-template-columns: 70% 30%;
}

.formLeft, .formRight{
  padding: 10px;
}

.formRight {
  padding-left: 4px;
}

.formLeft input {
  width: 100%;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    margin: 5px 0;
}

.formRight button{
  width: 100%;
    height: 100%;
    border-radius: 10px;
    color: white;
    background: #f39c12;
}
